name: benchmark
on:
  - push

jobs:
  evaluate:
    runs-on: ubuntu-latest
    env:
      FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
      ZENODO_TOKEN: ${{ secrets.ZENODO_TOKEN }}
      BENCHMARK_GIAB_NA12878_AGILENT_TOKEN: ${{ secrets.BENCHMARK_GIAB_NA12878_AGILENT_TOKEN }}
      BO_AGILENT_TOKEN: ${{ secrets.BO_AGILENT_TOKEN }}
      CO_AGILENT_TOKEN: ${{ secrets.CO_AGILENT_TOKEN }}
      BO_CORE_UNIT_TOKEN: ${{ secrets.BO_CORE_UNIT_TOKEN }}
      BENCHMARK_GIAB_NA12878_TWIST_TOKEN: ${{ secrets.BENCHMARK_GIAB_NA12878_TWIST_TOKEN }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Download reference genome
        uses: snakemake/snakemake-github-action@v1
        with:
          directory: "."
          snakefile: "workflow/Snakefile"
          args: "--cores 1 --use-conda --conda-cleanup-pkgs cache resources/reference/genome.fasta"

      - name: Download truthsets
        uses: snakemake/snakemake-github-action@v1
        with:
          directory: "."
          snakefile: "workflow/Snakefile"
          args: "--cores 1 --until benchmark_get_truth"

      # This step is necessary (after downloading the truthsets above) to ensure
      # that the files coming from the git repo are not triggering reruns
      # because their modification dates are too new or too old.
      # (as git does not preserve modification dates)
      - name: Fix modification dates
        uses: snakemake/snakemake-github-action@v1
        with:
          directory: "."
          snakefile: "workflow/Snakefile"
          args: "--cores 1 --touch resources/regions/*/test-regions.cov-*.bed"

      - name: Run analysis
        uses: snakemake/snakemake-github-action@v1
        with:
          directory: "."
          snakefile: "workflow/Snakefile"
          args: >
            --cores 1 --use-conda --conda-cleanup-pkgs cache
            --allowed-rules index_variants benchmark_index_vcf_variants 
            benchmark_rename_contigs benchmark_normalize_calls benchmark_stratify_truth 
            benchmark_stratify_results benchmark_index_stratified_truth 
            benchmark_stat_truth benchmark_generate_sdf benchmark_benchmark_variants 
            benchmark_calc_precision_recall benchmark_collect_stratifications 
            benchmark_collect_precision_recall benchmark_render_precision_recall_report_config 
            benchmark_report_precision_recall benchmark_extract_fp_fn 
            benchmark_collect_fp_fn benchmark_render_fp_fn_report_config 
            benchmark_report_fp_fn download_zenodo download_https 
            benchmark_get_truth benchmark_merge_truthsets

      - name: Create report
        uses: snakemake/snakemake-github-action@v1
        with:
          directory: "."
          snakefile: "workflow/Snakefile"
          args: "--report report.zip"

      - uses: 8BitJonny/gh-get-current-pr@2.1.2
        id: pr
        with:
          sha: ${{ github.event.pull_request.head.sha }}

      - name: Upload report as artifact
        if: steps.pr.outcome == 'success'
        uses: actions/upload-artifact@v3
        with:
          name: report
          path: report.zip

      - name: Store report
        if: steps.pr.outcome != 'success'
        uses: EndBug/add-and-commit@v8
        with:
          add: report.zip
