name: benchmark
on:
  - push

jobs:
  evaluate:
    runs-on: ubuntu-latest
    env:
      FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
      ZENODO_TOKEN: ${{ secrets.ZENODO_TOKEN }}
      BENCHMARK_GIAB_NA12878_AGILENT_TOKEN: ${{ secrets.BENCHMARK_GIAB_NA12878_AGILENT_TOKEN }}
      BO_AGILENT_TOKEN: ${{ secrets.BO_AGILENT_TOKEN }}
      CO_AGILENT_TOKEN: ${{ secrets.CO_AGILENT_TOKEN }}
      BO_CORE_UNIT_TOKEN: ${{ secrets.BO_CORE_UNIT_TOKEN }}
      BENCHMARK_GIAB_NA12878_TWIST_TOKEN: ${{ secrets.BENCHMARK_GIAB_NA12878_TWIST_TOKEN }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Download reference genome
        uses: snakemake/snakemake-github-action@v1
        with:
          directory: '.'
          snakefile: 'workflow/Snakefile'
          args: '--cores 1 --use-conda --conda-cleanup-pkgs cache resources/reference/genome.fasta'
      
      - name: Fix modification dates
        uses: snakemake/snakemake-github-action@v1
        with:
          directory: '.'
          snakefile: 'workflow/Snakefile'
          # TODO use * here once twist exome is accessible again.
          args: '--cores 1 --touch resources/regions/giab-NA12878-agilent-200M/test-regions.cov-*.bed resources/regions/giab-NA12878-agilent-75M/test-regions.cov-*.bed'

      - name: Run analysis
        uses: snakemake/snakemake-github-action@v1
        with:
          directory: '.'
          snakefile: 'workflow/Snakefile'
          args: '--cores 1 --use-conda --conda-cleanup-pkgs cache'
      
      - name: Create report
        uses: snakemake/snakemake-github-action@v1
        with:
          directory: '.'
          snakefile: 'workflow/Snakefile'
          args: '--report report.html'

      - name: Store report
        uses: EndBug/add-and-commit@v8
        with:
          add: report.html

